.ab{
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipNrCDGu7wMOqYoRArXbfZoqlpddUSRsTjcUPqI=s1360-w1360-h1020-rw);
    font-size: 20px;
    .abc{
        width: 100%;
        height: 40px;
        background-color: gray;
        display: flex;gap: 30px;
    }

.ac{
    width: 100%;
    height: 60px;
    
    .az{
        width: 100%;
        height: 60px;
    
    }
}
.img{
    width: 300px;
    height: 300px;
}
.some{
    color: gold;
    text-align: center;
}
.ifru{
    width: 300px;
    height: 200px;
    background-color: red;
    
    
}
.abcdef{
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    text-align: center;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipP-ZpBgVFs2nnUbMsopdkrVPiF-WmeePEHNjpI=s1360-w1360-h1020-rw);
    color: white ;
}
.abcdef{
    width: 100%;
    height: 700px;
    background-color: blanchedalmond ;
}
.am{
    color: gold;
}
.yemil{
    width: 100%;
    height: 800px;
    background-color: bisque;
    text-align: center;
}
.sameeh{
    width: 400px;
    height: 400px;
}
.ao{
    width: 100%;
    height: 600px;
    background-color: black;
    
    
    
}
.isu{
    color: gold;
    text-align: center;
}



    

